<div class="flex items-center justify-center">
  <div class="bg-white rounded p-2">
    
      <div class="h-22"><p>Confirm your email address by clicking the link in the email we sent you.</p></div>
      <div>
          <ul class="flex  items-center">
              <li>
              <form method="POST">
              {% csrf_token %}    
              <button class="bg-sky-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Confirm</button>
              </form></li>
              <a href="{% url 'home' %}"><li><button class="bg-sky-700 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-2 rounded">Cancel</button></li></a>
          </ul>  
      </div>
  </div>
</div>