{% extends "layouts/base_entrance.html" %}
{% load static %}
{% block layouts %}
<div class="max-w-sm mx-4 sm:mx-auto mt-2 bg-blue shadow-xl rounded-1xl overflow-hidden text-white transition-all hover:shadow-2xl hover:scale-105 select-none">
    <b>Login to ---</b>
    
    <div>
        <form method="POST">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" >Username</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" type="text" name="login" id="login">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" >Password</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" type="password" name="password" id="password">
            </div>   
            <div class="m-2">
                <button class="bg-sky-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Login</button>
            </div>
        </form>
        
            <p class="text-sm font-light text-gray-500 dark:text-gray-400 mb-4">
                Don’t have an account yet ? <a href="{% url 'account_signup' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>&nbsp;or<a href="{% url 'home' %}" class="mx-2 text-red-500 hover:text-red-700">Cancel</a>
            </p>
    </div>

</div>
{% endblock %}