{% extends 'layouts/base_entrance.html' %}
{% block layouts %}
<div class="max-w-sm mx-2 sm:mx-auto bg-blue shadow-xl rounded-1xl overflow-hidden text-white transition-all hover:shadow-2xl hover:scale-105 select-none">
    <div class="h-32 overflow-hidden">
        <img class="object-cover w-full h-full" src="https://i.pinimg.com/originals/10/e2/0e/10e20e2bf4bc935f95ccc0a298608ef1.jpg" alt="">
    </div>
    <div class="relative w-24 h-24 mx-auto -mt-12 border-4 border-white rounded-full bg-sky-950/50 shadow-lg shadow-indigo-500/50 overflow-hidden">
        <img class="object-cover w-full h-full" src="{% block avatar %}{% endblock %}" alt="Avatar">
    </div>
    <div class="text-center mt-4">
        <h2 class="font-bold text-xl" id="realname">{% block realname %}{% endblock %}</h2>
        <p class="text-gray-500 text-sm">{% block username %}{% endblock %}</p>
    </div>
</div>

{% endblock %}